html {
    scroll-behavior: smooth;
}


h1{
    position: absolute;
    width: 1177px;
    height: 410px;
    left: 40px;
    top: 100px;
    
    font-family: 'Futura';
    font-style: normal;
    font-weight: 500;
    font-size: 160px;
    line-height: 180px;
    
    color:white;
    mix-blend-mode: difference;
    }
    
    .home{
    position: fixed;
    width: 150px;
    height: 20px;
    left: 55px;
    top: 43px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    
    color:white;
    mix-blend-mode: difference;
    }
    
    .script{
    position: fixed;
    width: 150px;
    height: 23px;
    left: 120px;
    top: 43px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    color:white;
    mix-blend-mode: difference;
    
    }

    .media{
        position: fixed;
        width: 150px;
        height: 23px;
        left: 210px;
        top: 43px;
        
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
        
        color:white;
        mix-blend-mode: difference;
        
        }
    
    
    .info{
    position: absolute;
    width: 150px;
    height: 46px;
    left: 1234px;
    top: 700px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;
    
    color: #FFFFFF;
    mix-blend-mode: difference;
    }
    
    .time{
    position: fixed;
    width: 150px;
    height: 23px;
    left: 1234px;
    top: 44px;
    
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 200;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */
    
    
    color: #FFFFFF;
    mix-blend-mode: difference;
    }
    
    .arrow{
    position: absolute;
    width: 74.6px;
    height: 94.6px;
    left: 55px;
    top: 629px;  
    
    color:white;
    mix-blend-mode: difference;
    }


.question1{
position: absolute;
width: 394px;
height: 151px;
left: 55px;
top: 1050px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;

color: #FFFFFF;
}


.answer1{
position: absolute;
width: 729px;
height: 780px;
left: 600px;
top: 1050px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;

color: #FFFFFF;
}

.line1{
position:absolute;
top:1850px;
left:50px;
}

.question2{
position: absolute;
width: 394px;
height: 151px;
left: 55px;
top: 1900px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;

color: #FFFFFF;
}

.answer2{
position: absolute;
width: 729px;
height: 780px;
left: 600px;
top: 1900px;
    
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
    
color: #FFFFFF;
}

.line2{
position:absolute;
top:2170px;
left:50px;
}

.question3{
position: absolute;
width: 394px;
height: 151px;
left: 55px;
top: 2220px;
    
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
    
color: #FFFFFF;
}

.answer3{
position: absolute;
width: 729px;
height: 780px;
left: 600px;
top: 2220px;
    
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
    
color: #FFFFFF;
}

.line3{
position:absolute;
top:2500px;
left:50px;
}


.question4{
position: absolute;
width: 394px;
height: 151px;
left: 55px;
top: 2560px;
    
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
    
color: #FFFFFF;
}

.answer4{
position: absolute;
width: 729px;
height: 780px;
left: 600px;
top: 2560px;
    
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
    
color: #FFFFFF;
}

.line4{
position:absolute;
top:2870px;
left:50px;
}

.question5{
position: absolute;
width: 394px;
height: 151px;
left: 55px;
top: 2920px;
    
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
    
color: #FFFFFF;
}

.answer5{
position: absolute;
width: 729px;
height: 780px;
left: 600px;
top: 2920px;
        
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
        
color: #FFFFFF;
}

.line5{
position:absolute;
top:3710px;
left:50px;
}

.question6{
position: absolute;
width: 394px;
height: 151px;
left: 55px;
top: 3750px;
    
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
    
color: #FFFFFF;
}

.answer6{
position: absolute;
width: 729px;
height: 780px;
left: 600px;
top: 3760px;
        
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
        
color: #FFFFFF;
}

.line6{
position:absolute;
top:4230px;
left:50px;
}


.question7{
position: absolute;
width: 394px;
height: 151px;
left: 55px;
top: 4280px;
    
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
    
color: #FFFFFF;
}

.answer7{
position: absolute;
width: 729px;
height: 780px;
left: 600px;
top: 4280px;
        
font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 23px;
        
color: #FFFFFF;
}

.line7{
position:absolute;
top:5850px;
left:50px;
}

.top{
position:absolute;
top:5900px;
left:50px;
padding-bottom:100px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 23px;
color: #FFFFFF;
}


a:link {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: rgb(255, 255, 255);
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: rgb(255, 149, 0);
    background-color: transparent;
    text-decoration: underline;
  }